.header {
	flex-basis: 35%;
}

p {
	line-height: 200%;
	font-size: 14px;
	color: #949495;
}

h1 {
	font-size: 50px;
}

.mb5 {
	margin-bottom: 5rem;
}

.skill {
	color: white;
	text-decoration: underline;
}
